<div class="row">
		<div class="span4 offset6 well" >
			<form id="formLogin" class="form-inline">
				<fieldset>
					<legend>Login</legend>
					<div class="control-group" align="center">
						<input type="text" placeholder="Username" id="txtUsername" name="username" value="<%= email %>" >
					</div>
					<div class="control-group" align="center">
						<input type="password" placeholder="Password" id="txtLoginPassword" name="loginPassword" value="<%= password %>" >
					</div>
					<div class="control-group" align="right" >
						<label class="checkbox" >Remember me: </label><input type="checkbox" name="remember" value="true" id="ckbRemember">
						&nbsp
						<a id="btnSend" href="#" class="btn btn-primary" >Login</a>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					</div>
				</fieldset>
			</form>
		</div>
</div>